<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thughan.ipc">

    <application>
        <activity android:name=".aidl.common.AidlActivity">

        </activity>

        <service
            android:name=".aidl.common.AidlService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
    </application>

</manifest>